:root {
  --black: #150605;
  --red-orange: #ff4500;
  --orange: #ff8300;
  --light-blue: #effbfe;
  --blue: #ace6ec;
  --chilli-pepper: #df362d;
  --chartreuse: #b7ac44;
}

html,
body {
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black);
  color: var(--chartreuse);
  padding: 0 10px;
  -webkit-box-shadow: 0px 2px 10px -5px rgba(21, 6, 5, 1);
  -moz-box-shadow: 0px 2px 10px -5px rgba(21, 6, 5, 1);
  box-shadow: 0px 2px 10px -5px rgba(21, 6, 5, 1);
}

header h2 {
  font-weight: 900;
}

a {
  text-decoration: none;
  color: var(--chartreuse);
}

main.photos {
  padding: 10px;
  display: grid;
  grid-gap: 2px;
  grid-auto-rows: 100px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-flow: dense;
}

img.image-grid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-container {
  position: relative;
}

.wide {
  grid-column: span 2;
}

.tall {
  grid-row: span 2;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}

.favorite {
  color: var(--chilli-pepper);
  font-size: 1.2rem;
  position: absolute;
  top: 5px;
  left: 5px;
  cursor: pointer;
}

.cart {
  color: var(--blue);
  font-size: 1.2rem;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
